:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: rgb(198, 208, 245);
}

body {
    background-color: rgb(48, 52, 70);
    font-size: 16px;
    padding: 16px;
    padding-top: 64px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(115, 121, 148, 0.8);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

main {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

main .paragraph {
    background-color: rgb(65, 69, 89);
    padding: 1rem;
    border-radius: 1rem;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}
main .paragraph:last-child {
    margin-bottom: 0;
}
main .paragraph h1 {
    font-size: 1.5rem;
}
main .paragraph h1 span {
    font-size: 2rem;
}
main .paragraph ul {
    list-style: none;
    margin-left: 2rem;
}
main .paragraph ul ul {
    list-style: disc;
    margin-left: 2rem;
}